/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para seções */
section {
    margin-bottom: 30px;
}

h2 {
    color: #4CAF50;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding-left: 20px;
    margin-bottom: 10px;
    position: relative;
}

li:before {
    content: "\2022";
    color: #4CAF50;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 0;
}
